Package: piweb
Version: 0.10.0
Depends: python3, python3-pip, libncurses5-dev, libreadline-dev
Priority: optional
Architecture: any
Section: Network
Installed-Size: 1836
Maintainer: Peanutstars <peanutstars.dev@gmail.com>
Description: This is a simple web server to be used the cherrypy
 ...
