<!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul id="first-menu">
            <li><a href="/">Home</a></li>
            {# <li><a href="/device">Ipsum veroeros</a></li>
            <li><a href="/device">Tempus etiam</a></li>
            <li><a href="/device">Consequat dolor</a></li>
            <li><a href="elements.html">Elements</a></li>#}
        </ul>
    </nav>

    <div id="modal">
        <h2>Modal</h2>
        <!-- <ul id="first-menu">
            <li><a href="/">Modal Menu</a></li>
        </ul> -->
        <form method="post" action="#">
			<div class="field half first">
				<input type="text" name="name" id="name" placeholder="Name" />
			</div>
			<div class="field half">
				<input type="email" name="email" id="email" placeholder="Email" />
			</div>
			<div class="field">
				<textarea name="message" id="message" placeholder="Message"></textarea>
			</div>
			<ul class="actions">
				<li style="float: right;"><input type="submit" value="Send" class="special" /></li>
			</ul>
		</form>
    </div>
