<!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul id="first-menu">
            <li><a href="/">Home</a></li>
            {# <li><a href="/device">Ipsum veroeros</a></li>
            <li><a href="/device">Tempus etiam</a></li>
            <li><a href="/device">Consequat dolor</a></li>
            <li><a href="elements.html">Elements</a></li>#}
        </ul>
    </nav>

    <nav id="modal">
        <h2>Modal</h2>
        <ul id="first-menu">
            <li><a href="/">Modal Menu</a></li>
        </ul>
    </nav>
