<!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
                <a href="{{ view.titlelink }}" class="logo">
                    <span class="symbol"><img src="/static/images/logo.svg" alt="" /></span><span class="title">{{ view.title }}</span>
                </a>

            <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

        </div>
    </header>
