<!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul id="first-menu">
            <li><a href="/">Home</a></li>
            {# <li><a href="/device">Ipsum veroeros</a></li>
            <li><a href="/device">Tempus etiam</a></li>
            <li><a href="/device">Consequat dolor</a></li>
            <li><a href="elements.html">Elements</a></li>#}
        </ul>
    </nav>

    <div id="modal">
{#
        <h2>Modal</h2>
        <div class="row">
            <div class="6u 12u$(medium)">
        		<input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="6u 12u$(medium)">
        		<input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="12u 12u$(medium)">
        		<textarea name="message" id="message" placeholder="Message"></textarea>
            </div>
        </div>
        <!-- <p style="position: fixed; height: 100%; width: 100%; background: #999;"></p> -->
        <div>
            <ul class="actions">
                <li style="float: right;"><input type="submit" value="Send" class="special" /></li>
            </ul>
        </div>
#}
    </div>
